# 怎么让pandas的DataFrame 更小和更好？

In [1]:
import pandas as pd

In [2]:
drinks = pd.read_csv('https://raw.githubusercontent.com/intohole/pandas-videos/master/data/drinks.csv')

In [4]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [5]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.1+ KB

In [9]:
drinks.info(memory_usage = "deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 25.9 KB

In [10]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

#### continent country -> object
#### 字符串存储的时候肯定大于整数存储

In [16]:
drinks['continent'] = drinks.continent.astype('category')

In [17]:
drinks.dtypes

country                           object
beer_servings                      int64
spirit_servings                    int64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [18]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null category
dtypes: category(1), float64(1), int64(3), object(1)
memory usage: 8.0+ KB

#### memory usage 变小了！

In [23]:
drinks.continent.cat.categories

Index([u'Africa', u'Asia', u'Europe', u'North America', u'Oceania',
       u'South America'],
      dtype='object')

In [24]:
df = pd.DataFrame({'ID':[100,101,102,103],'quality':['good','very good','good','excellent']})

In [25]:
df

    ID    quality
0  100       good
1  101  very good
2  102       good
3  103  excellent

In [26]:
df.sort_values('quality')

    ID    quality
3  103  excellent
0  100       good
2  102       good
1  101  very good

In [31]:
df['quality'] = df.quality.astype('category',categories = ['good','very good','excellent'],order = True)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  """Entry point for launching an IPython kernel.

TypeError: __init__() got an unexpected keyword argument 'order'