## 怎么在pandas中使用字符串方法？

In [1]:
'hello'.upper()

'HELLO'

In [2]:
import pandas as pd

In [3]:
orders = pd.read_table('https://raw.githubusercontent.com/intohole/pandas-videos/master/data/chipotle.tsv')

In [4]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [7]:
orders.item_name.str.upper().head()

0             CHIPS AND FRESH TOMATO SALSA
1                                     IZZE
2                         NANTUCKET NECTAR
3    CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                             CHICKEN BOWL
Name: item_name, dtype: object

In [11]:
orders.item_name.str.contains('Chicken').head(10)

0    False
1    False
2    False
3    False
4     True
5     True
6    False
7    False
8    False
9    False
Name: item_name, dtype: bool

In [12]:
orders.choice_description.str.replace('[\[\]]',' ')

0                                                     NaN
1                                             Clementine
2                                                  Apple
3                                                     NaN
4        Tomatillo-Red Chili Salsa (Hot),  Black Beans...
5        Fresh Tomato Salsa (Mild),  Rice, Cheese, Sou...
6                                                     NaN
7        Tomatillo Red Chili Salsa,  Fajita Vegetables...
8        Tomatillo Green Chili Salsa,  Pinto Beans, Ch...
9        Fresh Tomato Salsa,  Rice, Black Beans, Pinto...
10                                                    NaN
11       Roasted Chili Corn Salsa,  Fajita Vegetables,...
12       Roasted Chili Corn Salsa,  Rice, Black Beans,...
13       Fresh Tomato Salsa,  Fajita Vegetables, Rice,...
14                                                    NaN
15                                                    NaN
16       Tomatillo-Green Chili Salsa (Medium),  Pinto ...
17       Fresh Tomato Salsa (Mild),  Black Beans, Rice...
18                                                Sprite
19       Tomatillo Red Chili Salsa,  Fajita Vegetables...
20                                                    NaN
21        Fresh Tomato Salsa (Mild), Tomatillo-Green C...
22                                    Pomegranate Cherry
23        Tomatillo-Green Chili Salsa (Medium), Tomati...
24                                            Grapefruit
25                                                    NaN
26       Roasted Chili Corn Salsa (Medium),  Pinto Bea...
27        Tomatillo-Green Chili Salsa (Medium), Roaste...
28                                            Dr. Pepper
29       Tomatillo-Green Chili Salsa (Medium),  Pinto ...
                              ...
4592     Tomatillo Red Chili Salsa,  Rice, Fajita Vege...
4593     Roasted Chili Corn Salsa,  Rice, Sour Cream, ...
4594     Roasted Chili Corn Salsa,  Pinto Beans, Sour ...
4595     Tomatillo Green Chili Salsa,  Rice, Black Bea...
4596                                                  NaN
4597                                              Nestea
4598                                                  NaN
4599         Roasted Chili Corn Salsa,  Cheese, Lettuce
4600                                                  NaN
4601                                           Diet Coke
4602                         Tomatillo Green Chili Salsa
4603                         Tomatillo Green Chili Salsa
4604     Fresh Tomato Salsa,  Rice, Black Beans, Chees...
4605                                                  NaN
4606                                                Coke
4607     Tomatillo Green Chili Salsa,  Rice, Cheese, S...
4608     Tomatillo Red Chili Salsa,  Fajita Vegetables...
4609                                              Sprite
4610     Fresh Tomato Salsa,  Rice, Sour Cream, Cheese...
4611     Tomatillo Green Chili Salsa,  Rice, Fajita Ve...
4612     Fresh Tomato Salsa,  Fajita Vegetables, Rice,...
4613                                                  NaN
4614                                                  NaN
4615      Fresh Tomato Salsa,  Rice, Cheese, Sour Cream
4616                                                  NaN
4617     Fresh Tomato Salsa,  Rice, Black Beans, Sour ...
4618     Fresh Tomato Salsa,  Rice, Sour Cream, Cheese...
4619     Fresh Tomato Salsa,  Fajita Vegetables, Pinto...
4620     Fresh Tomato Salsa,  Fajita Vegetables, Lettu...
4621     Fresh Tomato Salsa,  Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object